@charset "UTF-8";
@import url(fontiran.css);
/* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
body {
  font-family: IRANSans !important;
  font-weight: 300;
  direction: rtl;
  background-color: #FFFFFF;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, input, textarea {
  font-family: IRANSans !important;
}

h1 {
  font-weight: bold;
}

.ltr {
  direction: ltr !important;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.ltr {
  direction: ltr;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-small {
  font-size: 0.8em;
}

.text-xsmall {
  font-size: 0.6em;
}

.text-xxsmall {
  font-size: xx-small;
}

.text-large {
  font-size: 1.2em;
}

.text-xlarge {
  font-size: 1.4em;
}

.text-underline {
  text-decoration: underline;
}

.text-ultralight {
  font-weight: 200;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: normal;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: bold;
}

blockquote {
  font-weight: 500;
  padding: 10px;
  border: 1px dashed #666666;
}

.mainbox {
  width: 100%;
  background-color: #FFFFFF;
  display: table;
  margin-bottom: 30px;
  border-right: 8px solid #FFFF33;
}

.mainboxnegativ {
  width: 100%;
  background-color: #00171F;
  display: table;
  margin-bottom: 30px;
  border-right: 8px solid #FFFF33;
  color: #FFFFFF;
}

.mainbox2 {
  font-size: 1em;
  width: 90%;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mainbox3 {
  width: 100%;
  background-color: #b8b8b8;
  display: table;
  margin-bottom: 30px;
  border-right: 8px solid #bd70ff;
}

.mainbox2negativ {
  font-size: 1em;
  color: #FFFFFF;
  background-color: #00171F;
  padding-right: 20px;
}

.farsiparagraph {
  font-size: 1em;
  width: 47%;
  float: right;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.englishparagraph {
  font-size: 1em;
  width: 47%;
  float: left;
  direction: ltr;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rightbox {
  width: 60%;
  padding-right: 20px;
  padding-left: 5px;
  float: right;
  margin-left: 10px;
  margin-bottom: 0px;
  min-width: 0px;
  background-color: #FFFFFF;
}

.titelbox {
  width: 60%;
  padding-right: 25px;
  padding-left: 0px;
  float: right;
  margin-left: 10px;
  margin-bottom: 0px;
  min-width: 0px;
  background-color: #FFFFFF;
  color: #4B4B4B;
}

.lefttbox {
  padding-right: 20px;
  padding-left: 4px;
  float: right;
  margin-bottom: 10px;
  min-width: 0px;
}

.alphabet {
  width: 35%;
  float: left;
  font-size: 21em;
  text-align: center;
  font-weight: 500;
  color: #999999;
}

.alphabet2 {
  width: 35%;
  float: left;
  direction: ltr;
  font-size: 1.6em;
  text-align: left;
  font-weight: 500;
  color: #333333;
  margin-top: 100px;
}

.footer {
  font-weight: 300;
  font-size: 0.7em;
  text-align: center;
  direction: ltr;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.bg-dark {
  background-color: #00171F !important;
}

.bg-light {
  background-color: #FFFFFF !important;
}

.bg-1 {
  background-color: #003459 !important;
}

.bg-2 {
  background-color: #007EA7 !important;
}

.bg-3 {
  background-color: #00A8E8 !important;
}

.bg-grad {
  background: #003459;
  background: -webkit-gradient(linear, left top, right top, from(#003459), color-stop(35%, #007ea7), to(#00a8e8));
  background: linear-gradient(90deg, #003459 0%, #007ea7 35%, #00a8e8 100%);
}

.btn-outline-light {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn {
  border-radius: 60px;
}

.d-grid {
  display: -ms-grid !important;
  display: grid !important;
}

.d-inline-flex-center {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 992px) {
  .navbar-brand img {
    margin-right: auto;
    margin-left: auto;
  }
  .hide-responsive {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hide-desktop {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */