@import url(fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */

// main colors 


$main-color-light: #FFFFFF;
$main-color-dark: #00171F;
$main-color-1: #003459;
$main-color-2: #007EA7;
$main-color-3: #00A8E8;




body {
	font-family: IRANSans !important;
	font-weight: 300;
	direction: rtl;
	background-color: $main-color-light;
	margin: 0;
}
h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: IRANSans !important;
}
h1 {
	font-weight: bold;
}

.ltr {

direction: ltr !important;

}

.wrapper {
	max-width: 900px;
	margin: 0 auto;
}
.ltr {
	direction: ltr;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-small {
	font-size: 0.8em;
}
.text-xsmall {
	font-size: 0.6em;
}
.text-xxsmall {
	font-size: xx-small;
}
.text-large {
	font-size: 1.2em;
}
.text-xlarge {
	font-size: 1.4em;
}
.text-underline {
	text-decoration:underline;
}
.text-ultralight {
	font-weight: 200;
}
.text-light {
	font-weight: 300;
}
.text-regular {
	font-weight: normal;
}
.text-medium {
	font-weight: 500;
}
.text-bold {
	font-weight: bold;
}
blockquote {
	font-weight: 500;
	padding: 10px;
	border: 1px dashed #666666;
}

.mainbox {
	width: 100%;
	background-color: $main-color-light;
	display: table;
	margin-bottom: 30px;
	border-right: 8px solid #FFFF33;
}

.mainboxnegativ {
	width: 100%;
	background-color: $main-color-dark;
	display: table;
	margin-bottom: 30px;
	border-right: 8px solid #FFFF33;
	color: $main-color-light;
}

.mainbox2 {
	font-size: 1em;
	width: 90%;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.mainbox3 {
	width: 100%;
	background-color: #b8b8b8;
	display: table;
	margin-bottom: 30px;
	border-right: 8px solid #bd70ff;
}

.mainbox2negativ {
	font-size: 1em;
	color: $main-color-light;
	background-color: $main-color-dark;
	padding-right: 20px;
}

.farsiparagraph {
	font-size: 1em;
	width: 47%;
	float:right;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;

}
.englishparagraph {
	font-size: 1em;
	width: 47%;
	float: left;
	direction:ltr;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;


}
.rightbox {
	width: 60%;
	padding-right: 20px;
	padding-left: 5px;
	float: right;
	margin-left: 10px;
	margin-bottom: 0px;
	min-width: 0px;
	background-color: $main-color-light;

}

.titelbox {
	width: 60%;
	padding-right: 25px;
	padding-left: 0px;
	float: right;
	margin-left: 10px;
	margin-bottom: 0px;
	min-width: 0px;
	background-color: $main-color-light;
	color: #4B4B4B;
}


.lefttbox {
	
	padding-right: 20px;
	padding-left: 4px;
	float: right;
	margin-bottom: 10px;
	min-width: 0px;
}

.alphabet {
	width: 35%;
	float: left;
	font-size: 21em;
	text-align: center;
	font-weight: 500;
	color: #999999;
}

.alphabet2 {
	width: 35%;
	float: left;
	direction: ltr;
	font-size: 1.6em;
	text-align: left;
	font-weight: 500;
	color: #333333;
	margin-top: 100px;
}
.footer {
	font-weight: 300;
	font-size: 0.7em;
	text-align: center;
	direction: ltr;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.bg-dark {

background-color: $main-color-dark !important;

}

.bg-light {

background-color: $main-color-light !important;

}

    
    .bg-1 {

        background-color: $main-color-1 !important;

    }

    .bg-2 {

        background-color: $main-color-2 !important;

    }

    .bg-3 {

        background-color: $main-color-3 !important;

    }

    .bg-grad {

        background: rgb(0,52,89);
background: linear-gradient(90deg, rgba(0,52,89,1) 0%, rgba(0,126,167,1) 35%, rgba(0,168,232,1) 100%);

    }

    .btn-outline-light {
        color: $main-color-light;
        border-color: $main-color-light;
    }

    .btn {
        border-radius: 60px;
    }

    .d-grid {

        display: grid !important;

    }


    .d-inline-flex-center {

        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }



































































































    // media quries

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) { 
    
    .navbar-brand img {

        margin-right: auto;
        margin-left: auto;
        
    }

    .hide-responsive {

display: none !important;

    }

 }

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {  }



















































    // media quries

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

    .hide-desktop {

display: none !important;

    }

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }



